# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
.env
.env.*
venv/
build/
dist/

# Flask/SQLite
instance/
*.db
*.sqlite3

# Migrations cache
migrations/.*
!migrations
!migrations/README
!migrations/versions

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.log
